# 과일 개수 골라내기

> 장바구니에 아래와 같은 과일이 들어있고 과일 판별 리스트가 있습니다.

```python
basket_items = {'apples': 4, 'oranges': 19, 'kites': 3, 'sandwiches': 8}

fruits = ['apples', 'oranges', 'pears', 'peaches', 'grapes', 'bananas']

```
> 현재 장바구니에는 과일이 몇개이고 과일이 아닌 것은 몇개인지 출력하시오.
---
```
예시 출력)
과일은 23개이고, 11개는 과일이 아닙니다..
```

In [39]:
basket_items = {'apples': 4, 'oranges': 19, 'kites': 3, 'sandwiches': 8}
fruits = ['apples', 'oranges', 'pears', 'peaches', 'grapes', 'bananas']
# 아래에 코드를 작성하세요.
fruit = 0
not_fruit =0
for key,value in basket_items.items():
    if key in fruits:
        fruit += value
    else:
        not_fruit += value
print(f'과일은 {fruit}개 이고, {not_fruit}개는 과일이 아닙니다.')

과일은 23개 이고, 11개는 과일이 아닙니다.

# 영어 이름 출력하기 

> 영어 이름은 가운데 이름을 가지고 있는 경우가 있습니다.
>
> 가운데 이름은 대문자로 축약해서 나타내는 코드를 작성해보세요.

---
```
예시 입력)
Alice Betty Catherine Davis
```
```
예시 출력)
Alice B. C. Davis
```

In [281]:
# 아래에 코드를 작성하세요.
names = 'Alice Betty Catherine Davis'
name = names.split(' ')
first_name = name[0:1:]
last_name = name[len(name)-1:len(name):]
midle_name = name[1:len(name)-1:]
real_midel = ''
for i in range(len(midle_name)):
    real_midel += midle_name[i][:1:]+ '. '

for i in first_name:
    print(i, end='')
print(' ',end='')
print(real_midel, end='')
for i in last_name:
    print(i,end='')

Alice B. C. Davis

In [324]:
names = 'Alice Betty Catherine Davis'
name = names.split(' ')

print(name[0:1][0], end=' ') #first name
for i in name[1:len(name)-1]: #middle name
    print(i[0],end='. ')
print(name[len(name)-1:len(name)][0]) #last name

Alice B. C. Davis

# 구구단 출력하기
> 2단부터 9단까지 반복문을 사용하여 구구단을 출력하세요.
---
```
예시 출력)
------- [2 단] -------
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18

------- [3 단] -------
...
```

In [328]:
# 아래에 코드를 작성하세요.
for i in range(1,10):
    if i !=1:
        print(f'------- {i}단 -------')
        for j in range(1,10):
            print(f'     {i} X {j} = {int(i)*int(j)}')

------- 2단 -------
     2 X 1 = 2
     2 X 2 = 4
     2 X 3 = 6
     2 X 4 = 8
     2 X 5 = 10
     2 X 6 = 12
     2 X 7 = 14
     2 X 8 = 16
     2 X 9 = 18
------- 3단 -------
     3 X 1 = 3
     3 X 2 = 6
     3 X 3 = 9
     3 X 4 = 12
     3 X 5 = 15
     3 X 6 = 18
     3 X 7 = 21
     3 X 8 = 24
     3 X 9 = 27
------- 4단 -------
     4 X 1 = 4
     4 X 2 = 8
     4 X 3 = 12
     4 X 4 = 16
     4 X 5 = 20
     4 X 6 = 24
     4 X 7 = 28
     4 X 8 = 32
     4 X 9 = 36
------- 5단 -------
     5 X 1 = 5
     5 X 2 = 10
     5 X 3 = 15
     5 X 4 = 20
     5 X 5 = 25
     5 X 6 = 30
     5 X 7 = 35
     5 X 8 = 40
     5 X 9 = 45
------- 6단 -------
     6 X 1 = 6
     6 X 2 = 12
     6 X 3 = 18
     6 X 4 = 24
     6 X 5 = 30
     6 X 6 = 36
     6 X 7 = 42
     6 X 8 = 48
     6 X 9 = 54
------- 7단 -------
     7 X 1 = 7
     7 X 2 = 14
     7 X 3 = 21
     7 X 4 = 28
     7 X 5 = 35
     7 X 6 = 42
     7 X 7 = 49
     7 X 8 = 56
     7 X 9 = 63
------- 8단 -------
     8 X 1 = 8
     8 X 2 = 16
     8 X 3 = 24
     8 X 4 = 32
     8 X 5 = 40
     8 X 6 = 48
     8 X 7 = 56
     8 X 8 = 64
     8 X 9 = 72
------- 9단 -------
     9 X 1 = 9
     9 X 2 = 18
     9 X 3 = 27
     9 X 4 = 36
     9 X 5 = 45
     9 X 6 = 54
     9 X 7 = 63
     9 X 8 = 72
     9 X 9 = 81

# 달력 출력하기

> 1월 1일 월요일부터 12월 31일까지 달력을 출력하세요.

---
```
예시 출력)
         1 월
Mo Tu We Th Fr Sa Su 
 1  2  3  4  5  6  7 
 8  9 10 11 12 13 14 
15 16 17 18 19 20 21 
22 23 24 25 26 27 28 
29 30 31 
         2 월
Mo Tu We Th Fr Sa Su 
 1  2  3  4  5  6  7 
 8  9 10 11 12 13 14 
15 16 17 18 19 20 21 
22 23 24 25 26 27 28 

         3 월
Mo Tu We Th Fr Sa Su 
 1  2  3  4  5  6  7 
 8  9 10 11 12 13 14 
15 16 17 18 19 20 21 
22 23 24 25 26 27 28 
29 30 31
...
```

In [372]:
calendar = { 
        1: 31, 2: 28, 3: 31, 4: 30, 5: 31,6: 30, 
        7: 31, 8: 31, 9: 30, 10: 31, 11: 30, 12: 31 
} 
weeks = ['Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa', 'Su']
# 아래에 코드를 작성하세요.
for key,value in calendar.items():
    print(f'         {key}월')
    for i in range(7):
        print(weeks[i], end=' ')
    print('')
    for i in range(1,value+1):
        if i<10:
            print(f' {i}', end=' ')
            if i%7==0:
                print('')
        else:
            print(i, end=' ')
            if i%7==0:
                print('')
    print('')

         1월
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31
         2월
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28

         3월
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31
         4월
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30
         5월
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31
         6월
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30
         7월
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31
         8월
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31
         9월
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30
         10월
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31
         11월
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30
         12월
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

# 개인정보보호
> 사용자의 핸드폰번호를 입력 받으려고한다. 개인정보 보호를 위하여 뒷자리 4자리를 제외하고는 마스킹 처리를 하려고한다.
>
> 핸드폰번호는 010으로 시작해야하고 11자리여야한다. 핸드폰번호를 입력하지 않았다면 "핸드폰번호를 입력하세요"를 출력한다

```
예시 입력)
01012341234
예시 출력)
*******1234
```

In [256]:
# 아래에 코드를 작성하세요.

# phone_number = input('')
phone_number = '01012341234'
last_number=phone_number[7::]
if phone_number[0:3:] =='010' and len(phone_number) == 11:
    print(f'*******{last_number}')
else:
    print('핸드폰번호를 입력하세요')

*******1234

In [280]:
phone_number = '01012341234'
first_number=phone_number[:7:]
if phone_number[0:3:] =='010' and len(phone_number) == 11:
    for number in first_number:
        phone_number = phone_number.replace(number, '*', 1 )
else:
    print('핸드폰번호를 입력하세요')
print(phone_number)

*******1234

# 정중앙
> 사용자가 입력한 문자열중 가운데 글자를 출력하라. 문자열이 짝수라면 가운데 두글자를 출력하라

In [321]:
# 아래에 코드를 작성하세요.
prent_midle = input('')
# prent_midle = '안녕하세요'
num = int(len(prent_midle)/2)
if len(prent_midle)%2==0:    
    print(prent_midle[num-1:num+1:])
else:
    print(prent_midle[num:num+1:])

이건엄청긴함수
청

# 소수 찾기

> 조건, 반복문을 응용하여 numbers 리스트의 요소들이 소수인지 아닌지 판단하는 코드를 작성하라.

```python
numbers = [26, 39, 51, 53, 57, 79, 85]

# 출력 예시
26 는 소수가 아닙니다. 2 는 26 의 인수입니다.
39 는 소수가 아닙니다. 3 는 39 의 인수입니다.
51 는 소수가 아닙니다. 3 는 51 의 인수입니다.
53 는 소수입니다.
57 는 소수가 아닙니다. 3 는 57 의 인수입니다.
79 는 소수입니다.
85 는 소수가 아닙니다. 5 는 85 의 인수입니다.
```

In [323]:
numbers = [26, 39, 51, 53, 57, 79, 85]
# 아래에 코드를 작성하세요.

for number in numbers:
    for i in range(2,number):
        if number%i == 0:
            print(f'{number}는 소수가 아닙니다. {i}의 인수입니다.')
            break
    else:
        print(f'{number}는 소수입니다.')
        break

26는 소수가 아닙니다. 2의 인수입니다.
39는 소수가 아닙니다. 3의 인수입니다.
51는 소수가 아닙니다. 3의 인수입니다.
53는 소수입니다.